body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

p {
    line-height: 0.5px;
    margin-bottom: -10px;
    letter-spacing: 1.5px;
}

h5 {
    line-height: 0.5px;
    margin-bottom: -10px;
    font-size: 16px;
    letter-spacing: 1.5px;
}

#title {
    margin-left: 2.5px;
}

#columns {
    justify-content: center;
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 0px;
    gap: 0px;
}

#gumi-image {
    width: 150px;
    flex-shrink: 0; 
    margin-left: 9px;
}

#gumi-thought {
    flex-shrink: 0; 
}

#main-game-container {
    margin-right: -46px;
}

#gumi-image img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: 10px;
    margin-top: 25px;
}

#gumi-thought img {
    max-width: 120px;
    height: auto;
    display: block;
    margin-top: 270px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 4px;
}

#board {
    width: 350px;
    height: 400px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.tile {
    /* box */
    border: 2px solid lightgrey;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
}

.correct {
    background-color: #6CA965;
    color: white;
    border-color: white;
}

.present {
    background-color: #C8B653;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7F;
    color: white;
    border-color: white;
}

.keyboard-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key-tile {
    /* box */
    border: 1px solid lightgrey;
    width: 36px;
    height: 40px;
    margin: 1px;
    cursor: pointer;

    /* text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
}

.enter-key-tile {
    /* box */
    border: 1px solid lightgrey;
    width: 76px;
    height: 40px;
    margin: 1px;

    /* text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
}

.button-container {
    line-height: 2px;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    background-color:antiquewhite;
    color: black;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    letter-spacing: 2px;
}

.footer {
    margin-top: 30px;
    color: darkgrey;
    letter-spacing: 4px;
    line-height: 0.25;
}
